@model IEnumerable<TelephoneDir.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Telephone Directory</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { name=item.name }) |
                @Html.ActionLink("Details", "Details", new { name = item.name }) |
                @Html.ActionLink("Delete", "Delete", new { name = item.name })
            </td>
        </tr>
}
    </tbody>
</table>
